In [58]:
import numpy as np
import pandas as pd
import os
from helper_functions import *
from herams_helper_functions import *

In [59]:
def reorder_columns(data, colnum):
    cols = data.columns.tolist()
    cols = cols[colnum:] + cols[:colnum]
    data = data[cols]
    return data

In [60]:
def clean_commune_data(data, cols):
    for col in cols:
        data.loc[data[col] == 'COMMUNE 1', col] = 'COMMUNE I'
        data.loc[data[col] == 'COMMUNE 2', col] = 'COMMUNE II'
        data.loc[data[col] == 'COMMUNE 3', col] = 'COMMUNE III'
        data.loc[data[col] == 'COMMUNE 4', col] = 'COMMUNE IV'
        data.loc[data[col] == 'COMMUNE 5', col] = 'COMMUNE V'
        data.loc[data[col] == 'COMMUNE 6', col] = 'COMMUNE VI'
    return data

In [61]:
regions = pd.read_csv('data/regions.csv')
cercle = pd.read_csv('data/cercle.csv')
regions = get_serial_column(regions, ['REGION'], 'RegionIndex')
cercle = get_serial_column(cercle, ['RegionIndex', 'CERCLE'], 'CercleIndex')

In [62]:
df = pd.read_excel('data/Measles.xlsx', sheet_name='Genericcasebased', header=0)

In [63]:
df = clean_string(df, ['ReportingDistrict', 'ReportingHealthfacility', 'DistrictofResidence', 'ProvinceOfResidence'])
df = clean_commune_data(df, ['ReportingDistrict', 'DistrictofResidence'])

In [64]:
list_to_drop = ['BlankVariable1', 'BlankVariable2', 'CountryCode', 'NamesOfPatient', 'RECSTATUS', 'PatientsResidence', 'Towncity', 'DateOfBirth']
cols_to_drop = [col for col in df.columns.tolist() if df[col].isnull().sum() == df.shape[0]]
cols_to_drop += list_to_drop
df = df.drop(cols_to_drop, axis=1)

In [68]:
miss = [dis for dis in df.ReportingDistrict.unique() if dis not in cercle.CERCLE.unique()]

In [69]:
miss

['TENENKOUN',
 'BARAOUELI',
 'TINESSAKO',
 'O',
 'KALABANCORO',
 'ACHOURATT',
 'ALMOUSTRAT',
 'ALOURCHE']

In [55]:
df.loc[df.ReportingDistrict == 'O', ['DistrictofResidence', 'ProvinceOfResidence']]

     DistrictofResidence ProvinceOfResidence
6756            TOMINIAN               SEGOU

In [35]:
df.isnull().sum()

IDNumber                           0
CountryCode                        0
ReportingDistrict                  0
ReportingHealthfacility          213
DataType                       12445
DateReceivedNatlevel            3080
NamesOfPatient                     0
DateOfBirth                    11406
AgeInyears                        55
AgeInmonths                     8876
Age                               27
Sex                               23
PatientsResidence                914
Towncity                         793
DistrictofResidence                1
ProvinceOfResidence                1
Urbanrural                      1499
DateSeenHealthFacility          2734
DateHealthfacilitynotified      2982
DateOfonset                        0
NumberOfVaccinedoses               9
DateOfLastvaccination          11128
BlankVariable1                 11194
BlankVariable2                  3374
Inoutpatient                       3
Outcome                            0
FinalClassification                0
DateSentFormtodistrict          3790
DateRecformdistrict             3771
DateSpecimencollected           3754
DateSpecimenSenttolab           3777
DateLabReceivedSpecimen         3775
SpecimenCondition               3768
MeaslesIgm                      1286
RubellaIgm                      3711
OtherLabResults                12435
DateLabSentResulttodistrict     5472
DateDistrictRecLabResults       5964
UniqueKey                          0
RECSTATUS                        191
dtype: int64

In [90]:
l1 = [[1,2,3,4,5], [2,3,4,8,9], [3,4,5,4,6]]
l2 = ['one', 'two', 'three']

In [91]:
df = pd.DataFrame({l: l1[i] for i, l in enumerate(l2)})

In [92]:
df

   one  two  three
0    1    2      3
1    2    3      4
2    3    4      5
3    4    8      4
4    5    9      6